#article-title {
	width: 80%;
	display: inline-block;
	float: left;
	margin-top: 25px;
	margin-bottom: 10px;
}
#article-publish {
	width: 7%;
	height: 50px;
	margin-top: 24px;
	margin-bottom: 10px;
	margin-left: -80px;
	display: inline-block;
	color: 	#000000;
	background-color: 	#E00000;
	border-radius: 5px;
}
#user-option {
	margin-top: -70px;
}
#artical-img {
	
	width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-top: -6px;
  
}
#input-add-category {
	width: 80%;
}
#span-add-category {
	display: inline;
}
div.well {
    margin-top: 10px;
}

/*div.modal-body select {

	display: inline-block;


}*/

div.article-option label select{
	float: left;
	border-left: -100px;
}

h3{
	float: left;
	display: inline-block;
}

#category-select {
	width: 80%;
}
#sort-select {
	width: 87%;

}