<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <!--    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!--  <title>Simple example - Editor.md examples</title> -->
    <!-- Bootstrap -->
    <!--  <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"> -->
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src=" https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"> </script> <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js">
    </script>
    <![endif]-->
    <link rel="stylesheet" href="../static/editor/css/style.css" th:href="@{/editor/css/style.css}" />
    <link rel="stylesheet" href="../static/editor/css/editormd.css" th:href="@{/editor/css/editormd.css}" />
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../static/css/editor.css" th:href="@{/css/editor.css}">
</head>

<body>
    <div class="editor-header">
        <div id="article-title" class="artical-blog">
            <input type="text" id="article-title-input" name="article_name" placeholder="输入文章标题">
        </div>
        <div id="article-publish" class="artical-blog">
            <input id="btn-publish" type="submit" value="发表文章">
        </div>
        <div id="article-user" class="artical-blog">
             
                <a href="#" id="user-img-link" />
                <img id="artical-img" src="../static/images/author.jpg" th:src="@{/images/author.jpg}">
                </a>  
        </div>
    </div>
    <div class="user-option">
                   <ul> 
                    <li class="user-option-li">
                        <a href="#">博客管理</a> 
                    </li>
                    <li>
                         <a href="#">个人主页</a>
                    </li>
                    <li class="user-option-li">                                          
                        <a href="#">退出</a>
                    </li>
                  </ul>  
    </div>
    <div id="layout" class="editor-body">
        <div id="test-editormd">
            <textarea style="display:none;">
                [TOC]

                #### Disabled options

                - TeX (Based on KaTeX);
                - Emoji;
                - Task lists;
                - HTML tags decode;
                - Flowchart and Sequence Diagram;

                #### Editor.md directory

                    editor.md/
                            lib/
                            css/
                            scss/
                            tests/
                            fonts/
                            images/
                            plugins/
                            examples/
                            languages/     
                            editormd.js
                            ...

                ```html
                &lt;!-- English --&gt;
                &lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

                &lt;!-- 繁體中文 --&gt;
                &lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
                ```
            </textarea>
        </div>
    </div>
   <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + '/'} "
    id="contextPath"></a>
    <!-- #request.getContextPath() + -->
    <!--   </div>
    </div> -->
    <!-- bootstrap -->
    <!--    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script> -->
    <!-- editor -->
    <script src="../static/editor/js/jquery.min.js" th:src="@{/editor/js/jquery.min.js}"></script>
    <script src="../static/editor/js/editormd.min.js" th:src="@{/editor/js/editormd.min.js}"></script>
    <script type="text/javascript">

    var testEditor;


    var contextPath = $("#contextPath").val()+"editor/lib/"

    /* "http://localhost:8080/editor/lib/"*/
    /* var contextPath =  var contextPath = $('#contextPath').attr('href');*/
    $(function() {
       
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: "100%",
            syncScrolling: "single",
            path: "http://localhost:8080/editor/lib/"

        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
    //鼠标悬停在头像上时，弹出二级菜单
    $(function () {
        $('#user-img-link').bind("click",function(){
            
            if($(".user-option").is(":visible")){
                $(".user-option").hide();
            } else {
                $(".user-option").show();
            }
        })
    });
    </script>
</body>

</html>